form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 10px;
  color: aliceblue;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-align: center;
  font-size: 15px;
}

button {
  padding: 10px;
  border-radius: 14px;
  color: aliceblue;
}

button:hover {
  background-color: rgb(42, 107, 204);
  cursor: pointer;
}

p {
  color: aliceblue;
}
